---
layout: blogs
title: Blog
permalink: /blog/
---

{% assign bposts = site.bposts | reverse %}

<section>
<div class="row">
  {% for bpost in bposts %}
    <div class="6u 12u$(medium)">
    {% if bpost.exturl %}
    {% assign burl = bpost.exturl %}
    {% else %}
    {% assign burl = bpost.url %}
    {% endif %}
    <header>
        <h5><a href="{{ burl }}">{{ bpost.title }}</a></h5>
        <p><i>{{ bpost.date | date: "%B %Y" }}</i> - {{ bpost.categories | join: ", " }}</p>
    </header>
    </div>
  {% endfor %}
</div>
</section>
